:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --primary-background: #fbfbfc;
    --secondary-background: #F4A896;
    --tertiary-background: #358597;
    font-family: Courier, "Lucida Console", monospace;
    font-size: 16px;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-background);
    color: var(--primary-color);
}

header {
    background: var(--secondary-background);
    color: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

section {
    border: 15px solid var(--secondary-background);
    height: 80%;
    margin: 50px 30px;
    background-color: var(--tertiary-background);
    color: var(--secondary-color);
}