:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --primary-background: #fbfbfc;
    --secondary-background: #ee801a;
    --tertiary-background: #0a8f5c;
    font-family: Courier, "Lucida Console", monospace;
    font-size: 16px;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-background);
    color: var(--primary-color);
}

header {
    background: var(--primary-background);
    color: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#nav-principal {
    background: var(--secondary-background);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

#nav-principal ul {
    margin: 0;
    padding: 0;
}

#nav-principal li {
    display: inline-block;
    padding: 10px;
}

section#imagem {
    background-color: var(--primary-background);
    margin: 20px;
    padding: 20px;
}

section#pokemon {
    border: 15px solid var(--secondary-background);
    height: 80%;
    margin: 50px 30px;
    background-color: var(--tertiary-background);
    color: var(--secondary-color);
    padding: 20px;
}

section#instrucoes {
    border: 15px solid var(--secondary-background);
    height: 80%;
    margin: 50px 30px;
    background-color: var(--tertiary-background);
    color: var(--secondary-color);
    padding: 20px;
}


footer#rodape_cubo {
    background: var(--secondary-background);
    color: var(--primary-color);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


