--- 
layout: default
---

<header>
    <h1>Blog da Julia</h1>
</header>
<nav id="nav-principal">
    <ul>
        {% for post in site.posts %}
            <li><a href="{{ post.url | relative_url }}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
</nav>
<main>
    <section id="imagem">
        <h3>Aqui uma imagem aleatória para você:</h3><br>
        <img src="{{ 'https://source.unsplash.com/320x240/' | relative_url }}">
    </section>
</main>
<footer class="home_footer">
    <p>Informações de copyright 2020 &copy</p>
</footer>
